{% extends 'search/base.html' %}
<html xmlns="http://www.w3.org/1999/html">
    <head>
       <title>{{ keyword }}</title>


	</head>
    <body>
    {% block body %}
		<!-- Item slider-->
		<div class="fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="carousel carousel-showmanymoveone slide" id="itemslider">
                        <div class="carousel-inner">
                            <div class="carousel-inner">


                                <!-- SNAPDEAL -->

                                <div class="item active">
                                    <div class="col-lg-4 container-fluid">
                                        <div class="top-buffer">
                                            <div class="col-lg-offset-3 col-lg-6">
                                                <div class="thumbnail">
                                                    <img src="../../static/images/snapdeal_logo.jpg" href="https://www.snapdeal.com"
                                                    width="130px" alt="">
                                                </div>
                                            </div>

                                            <!--Snapdeal product -->



                                            {% if snd_products %}
                                                {% for S_product in snd_products %}
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="container-fluid">
                                                            <div class="centered ">
                                                                <img class="img-thumbnail" src="{{ S_product.p_img }}" alt="Product Image"
                                                                     style="max-width:175px;">
                                                            </div>
                                                            <div class="centered ">
                                                                <p class="text" style=" font-size: 2.7vmin; word-break: break-all;"><a
                                                                        href="{{ S_product.p_link }}"
                                                                        target="_blank">{{ S_product.p_name|slice:":50" }}</a>
                                                                </p>
                                                            </div>
                                                            <div class="centered caption">
                                                                <s><h5 class="text" style="font-size: 2.7vmin;">{{ S_product.st_price }}</h5></s>
                                                            </div>
                                                            <div class="centered caption ">
                                                                <h4 class="text" style="font-size: 2.7vmin;">Rs. {{ S_product.act_price }}</h4>
                                                            </div>
                                                            <div class="row"><p></p></div>
                                                            <div class="centered caption">
                                                                <h5 class="text" style="font-size: 2.7vmin;">{{ S_product.review }} <span
                                                                        class="glyphicon glyphicon-heart"
                                                                        style="color:red"></span></h5>
                                                            </div>
                                                            <div class="centered" style="padding-bottom: 20px">
                                                                <a href="{{ S_product.p_link }}" target="_blank">
                                                                    <button class="btn btn-danger"><p style="font-size: 2.4vmin;">Buy on
                                                                        snapdeal</p></button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="row"><p></p></div>
                                                <div class="row">
                                                    <b><h3 class="text-center">No results found.<br/>Please be more specific</h3></b>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>



                                <!-- AMAZON -->

                                <div class="item">
                                    <div class="col-lg-4 container-fluid">
                                        <div class="top-buffer">
                                            <div class="col-lg-offset-3 col-md-6">
                                                <div class="thumbnail">
                                                    <img src="../../static/images/amazon_logo.png" href="https://www.amazon.in"
                                                        width="130px" height="80px" alt="">
                                                </div>
                                            </div>


                                        <!--Amazon product container -->


                                        {% if amz_products %}
                                            {% for a_product in amz_products %}
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <div class="container-fluid">
                                                        <div class="centered">
                                                            <img class="img-thumbnail" src="{{ a_product.p_img }}" alt="Product Image"
                                                                 style="max-width:175px;">
                                                        </div>
                                                        <div class="centered caption">
                                                            <p class="text" style="font-size: 2.7vmin; word-break: break-all; padding-right: 10px">
                                                                <a href="{{ a_product.p_link }}"
                                                                   target="_blank">{{ a_product.p_name|slice:":50" }}</a></p>
                                                        </div>
                                                        <div class="centered">
                                                            <s><h5 class="text" style="font-size: 2.7vmin;">{{ a_product.st_price }}</h5></s>
                                                        </div>
                                                        <div class="centered">
                                                            <h4 class="text" style="font-size: 2.7vmin;">Rs. {{ a_product.act_price }}</h4>
                                                        </div>
                                                        <div class="row"><p></p></div>
                                                        <div class="centered caption">
                                                            <h5 class="text" style="font-size: 2.7vmin;">{{ a_product.review }} <span
                                                                    class="glyphicon glyphicon-star"
                                                                    style="color:gold"></span></h5>
                                                        </div>
                                                        <div class="centered" style="padding-bottom: 20px">
                                                            <a href="{{ a_product.p_link }}" target="_blank">
                                                                <button class="btn btn-warning"><p style="font-size: 2.2vmin;">Buy on amazon</p>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row"><p></p></div>

                                            <div class="row">
                                                <b><h3 class="text-center">No results found.<br/>Please be more specific</h3></b>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>



                                <!-- FLIPKART -->

<!--

                                <div class="item ">
						            <div class="col-lg-4 container-fluid">
                                        <div class="top-buffer">
                                            <div class="col-lg-offset-3 col-md-6">
                                                <div class="thumbnail">
                                                    <img src="../../static/images/flipkart_logo.png" href="https://www.amazon.in"
                                                                    width="130px" alt="">
                                                </div>
                                            </div>

                                        {% if flp_products %}
                                            {% for f_product in flp_products %}
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <div class="container-fluid">
                                                        <div class="centered">
                                                            <img class="img-thumbnail" src="{{ f_product.p_img }}" alt="Product Image"
                                                                 style="max-width:150px;" >
                                                        </div>
                                                        <div class="centered caption">
                                                            <p class="text" style="font-size: 2.7vmin; word-break: break-all; padding-right: 10px">
                                                                <a href="{{ f_product.p_link }}"
                                                                   target="_blank">{{ f_product.p_name|slice:":50" }}</a></p>
                                                        </div>
                                                        <div class="centered">
                                                            <s><h5 class="text" style="font-size: 2.7vmin;">Rs. {{ f_product.st_price }}</h5></s>
                                                        </div>
                                                        <div class="centered">
                                                            <h4 class="text" style="font-size: 2.7vmin;">Rs. {{ f_product.act_price }}</h4>
                                                        </div>
                                                        <div class="row"><p></p></div>
                                                        <div class="centered caption">
                                                            <h5 class="text" style="font-size: 2.7vmin;">By: {{ f_product.p_brand_name }} <span
                                                                    class="glyphicon glyphicon-thumbs-up"
                                                                    style="color:royalblue"></span></h5>
                                                        </div>
                                                        <div class="centered" style="padding-bottom: 20px" >
                                                            <a href="{{ f_product.p_link }}" target="_blank">
                                                                <button class="btn" style="background-color: #f1c40f" >
                                                                    <p style="font-size: 2.2vmin; color: #ffffff" >Buy on Flipkart</p>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row"><p></p></div>

                                            <div class="row">
                                                <b><h3 class="text-center">No results found.<br/>Please be more specific</h3></b>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
					            </div>
 -->

                                <!-- EBAY -->


                                <div class="item">
					                <div class="col-lg-4 container-fluid">
                                        <div class="top-buffer">
                                            <div class="col-lg-offset-3 col-md-6">
                                                <div class="thumbnail">
                                                    <img src="../../static/images/ebay_logo.png" href="https://www.ebay.in"
                                                            width="100px" height="80px" alt="">
                                                </div>
                                            </div>

                                        <!--Ebay product container-->
                                        {% if eby_products %}
                                            {% for e_product in eby_products %}
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <div class="container-fluid">
                                                        <div class="centered">
                                                            <img class="img-thumbnail" src="{{ e_product.p_img }}" alt="Product Image"
                                                                 style="max-width:150px;" >
                                                        </div>
                                                        <div class="centered caption">
                                                            <p class="text" style="font-size: 2.7vmin; word-break: break-all; padding-right: 10px">
                                                                <a href="{{ e_product.p_link }}"
                                                                   target="_blank">{{ e_product.p_name|slice:":50" }}</a></p>
                                                        </div>
                                                        <div class="centered">
                                                            <s><h5 class="text" style="font-size: 2.7vmin;">{{ e_product.mrp }}</h5></s>
                                                        </div>
                                                        <div class="centered">
                                                            <h4 class="text" style="font-size: 2.7vmin;">{{ e_product.act_price }}</h4>
                                                        </div>
                                                        <div class="row"><p></p></div>
                                                        <div class="centered caption">
                                                            <h5 class="text" style="font-size: 2.7vmin;">{{ e_product.p_hotness }} <span
                                                                    class="glyphicon glyphicon-fire"
                                                                    style="color:red"></span></h5>
                                                        </div>
                                                        <div class="centered" style="padding-bottom: 20px">
                                                            <a href="{{ e_product.p_link }}" target="_blank">
                                                                <button class="btn" style="background-color: #3498db" >
                                                                    <p style="font-size: 2.2vmin; color: #ffffff" >Buy on Ebay</p>
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row"><p></p></div>

                                            <div class="row">
                                                <strong><h3 class="text-center">No results found.<br/>Please be more specific</h3></strong>
                                            </div>
                                        {% endif %}
                                        </div>
                                    </div>
					            </div>
                            </div>
                        </div>

				<div id="slider-control">
				    <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="../../static/images/left_arrow.png" alt="Left" class="img-responsive"></a>
				    <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="../../static/images/right_arrow.png" alt="Right" class="img-responsive"></a>
			    </div>
            </div>
			</div>
		  </div>
		</div>
        <div class="container-fluid">
            <nav class="navbar navbar-default">
                <ul class="nav nav-pills container-fluid">
                    <li><a class="navbar-btn" href="http://127.0.0.1:8000/contact/" target="_blank"><span
                            class="glyphicon glyphicon-envelope"></span> FeedBack</a></li>
                    <li><a class="navbar-btn" href="http://127.0.0.1:8000/privacy_policy/"><span
                            class="glyphicon glyphicon-th-list"></span> Privacy Policy</a></li>
                    <li><a class="navbar-btn" href="https://www.facebook.com/delcarts/" target="_blank"><i
                            class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                    <li><a class="navbar-btn" href="https://www.instagram.com/delcarts100/" target="_blank"><i
                            class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li><a class="navbar-btn"
                           href="http://www.amazon.in/?ie=UTF8&link_code=hom&placement=home_multi.gif&tag=del0f0-21"
                           target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i> Amazon</a></li>
                    <li><a class="navbar-btn" href="https://www.snapdeal.com/" target="_blank"><i class="fa fa-shopping-bag"
                                                                                                  aria-hidden="true"></i>
                        Snapdeal</a></li>
                    <li class="pull-right"><a class="navbar-btn" style="color: red;" href="#">Desktop Site Preferred</a>
                    </li>
                </ul>
            </nav>
        </div>
{% endblock %}
    </body>
</html>
